* {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  background-color: #ebe9e9
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color:#dad9d9;
  background-color:rgb(40,78,94);
}

.navbar-default .navbar-nav > li > a{
  color:#b8b6b6;
}

nav.navbar.navbar-default{
  height: 60px;
  background: rgb(40,78,94);
  border: none;
  padding-top: 7px;
  padding-right: 5px;
}

.navbar-header a.navbar-brand img{
  height: 30px;
  margin-top: -10px;
}

#background{
  margin-top:-120px;
  background:url(../../assets/img/DJI_0052.jpg) no-repeat;
  background-size:cover;
  padding-top:111px;
  height:938px;
}

#background .jumbotron{
  background:none;
  font-family:nexa;
  margin-top:200px;
  margin-left:50px;
}

#background .jumbotron h1{
  color:white;
}

#background .jumbotron p{
  color:white;
}

#tour{
  text-align: center;
}

#tour .container h1{
  margin:36px;
}

#tour .container .row{
  margin:-3px;
}

#tour .isi .container.atas{
  background-color:#f9f8f8;
  margin-top:-200px;
  padding-bottom:37px;
}

.glyphicon{
  position: relative;
  font-size: 42px;
  color: #27475e;
}

.container.bawah{
  text-align: center;
}

#gallery{
  margin-top: 31px;
  background-color: #f9f8f8;
  padding-top: 43px;
  padding-bottom: 25px;
}

#gallery .container h1{
  text-align: center;
  font-family: raleway;
  margin-top: 50px;
}

#gallery .container h3{
  text-align: center;
  font-family: raleway;
  margin-bottom: 20px;
}

#maps .container h1{
  text-align: center;
  font-family: raleway;
  margin-top: 75px;
  margin-bottom: 10px;
}

#contact{
  background-color: #102128;
  margin-top: 79px;
  color: white;
}

#contact .container{
  width: 100%;
  padding: 55px;
}

#contact .container.footer .col-lg-6.col-md-6.col-sm-12.col-xs-12{
  font-family:petitamedium;
}

#icon{
  font-size:37px;
  margin-top:20px;
  position:static;
}

